<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="Fluent.Ribbon" version="6.1.0.233" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net452" />
  <package id="GoogleAuthenticator" version="1.2.1" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.6.4" targetFramework="net452" requireReinstallation="true" />
  <package id="MySql.Data" version="8.0.11" targetFramework="net452" />
  <package id="SnmpSharpNet" version="0.9.5" targetFramework="net451" />
  <package id="System.Data.HashFunction.Core" version="2.0.0" targetFramework="net452" />
  <package id="System.Data.HashFunction.CRC" version="2.0.0" targetFramework="net452" />
  <package id="System.Data.HashFunction.Interfaces" version="2.0.0" targetFramework="net452" />
  <package id="System.Data.HashFunction.SpookyHash" version="2.0.0" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.109.2" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.109.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.109.0" targetFramework="net461" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" requireReinstallation="true" />
</packages>